@model PortalCliente.Core.Dtos.Login

@{
    ViewData["Title"] = "Login";
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SeuProjeto</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/toastr.js/toastr.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="logo-header">
        <div class="header-logo-container">
            <img src="~/assets/images/logo.jpeg" alt="Logo ESGAS" class="header-logo" />
        </div>
    </div>
    <div class="login-container">
        <div class="login-box">
            <img src="~/assets/images/logo-portal.png" alt="Portal Cliente ESGAS" class="login-logo" />
            <p>Bem-vindo ao Portal do Cliente da ESGÁS</p>
            <form method="post" asp-controller="account" asp-action="login">
                <div class="form-group">
                    <label asp-for="Username">CPF ou CNPJ</label>
                    <input asp-for="Username" class="form-control" placeholder="Digite seu CPF ou CNPJ" autocomplete="username" />
                    <span asp-validation-for="Username" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password">Código do Cliente</label>
                    <input asp-for="Password" type="password" class="form-control" placeholder="Digite o código do cliente" autocomplete="off" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary" id="login-btn">
                    <i class="fas fa-sign-in-alt"></i>
                    Entrar
                </button>
            </form>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/toastr.js/toastr.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script type="text/javascript">
        $('document').ready(() => {
            const message = '@TempData["toastMessage"]'
            if (message != null) sendToastMessage(message)
        })
    </script>

    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
</body>
</html>